In [3]:
from modelos_cs import config
from modelos_cs import regresion
from entidades_cs import SalesforceEntity
from entidades_cs import SQLEntity

config('../.env')

clientes = SalesforceEntity(entity='Account', fields=['Name'])

clientes.data_limit = 3

clientes.all()

"""
rrhh_masserca_nom = SQLEntity(table='rrhh_masserca_nom', fields=['Email'])

rrhh_masserca_nom.all()
"""

                              Email
0             lcalderon@cusezar.com
1              svelasco@cusezar.com
2                 hdiaz@cusezar.com
3              jclement@cusezar.com
4    jarias@cusezar.com
..                              ...
260               amesa@cusezar.com
261           dbetancur@cusezar.com
262           jvalencia@cusezar.com
263             amoreno@cusezar.com
264             acgomez@cusezar.com

[265 rows x 1 columns]